body {
    background: white;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    text-decoration: none;
  }
  .max-width {
max-width: 1340px;
padding:0;
margin: 0;
  }
  section {
    padding: 20px 0;
  }
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    transition: all 0.5s ease;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: space-between;
  }
  .navbar.sticky {
    padding: 30px 0;
    background:black;
  }
  .navbar .logo a {
    position: relative;
    left:80px ;
    font-size: 30px;
    font-weight: 600;
    color: black;
    transition: color 0.5s ease;
    font-family: 'Rubik', sans-serif;
  }
  
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .menu li {
    position: relative;
    right: 5px;
    list-style: none;
    display: inline-block;
  }
  .navbar .menu .date li a {
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
    padding-left: 20px;
    transition: color 0.3s ease;
    font-family: 'Rubik', sans-serif;
  }
  .navbar .menu .date li a i{
    color: black;
  position: relative;
  right:38px;
  top: 3px;
  font-size: 18px;
  }
  .navbar .menu .oth li a {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 20px;
    left:1000px;
    font-weight: 700;
    transition: color 0.3s ease;
    font-family: 'Rubik', sans-serif;
  }
  .navbar .menu .oth li a i{
    color: black;
    display: flex;
    font-size: 15px;
    margin: 3px;
    font-weight: 800;
    justify-content: space-between;
  }

  .navbar .menu li a:hover,
  .navbar .logo a:hover {
    color:#029dd1;
  }
  .menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
  }
  .home .carousel .card .logo a{
    position: relative;
    right: 390px;
    bottom: 35px;
    font-size: 25px;
    color: black;
    font-family: arial;
    font-weight: 600;
  }
  .home .carousel .card .logo a span{
    position: relative;
    left: 770px;
    bottom: 10px;
    color: #029dd1;
    font-size: 18px;
    font-weight: 200;
  }
  .home .carousel .card .logo img{
    width: 50px;
    position: relative;
    right: 450px;
  }
  .home .home-content .hero img{
    width: 500px;
    margin: 50px, auto;
    position: relative;
    left: 40px;
  }
  .home .carousel .card .under{
    position: relative;
    top: 20px;
  }
  .home .carousel .card .under h2{
text-align: center;
font-size: 45px;
width: 100%;
color: black;
font-family: arial;
  }
  .home .carousel .card .under p{
    font-size: 17px;
    white-space: wrap;
    position: relative;
    top: 15px;
    width: 100%;
    font-family: arial;
  }
  .home .carousel .card .hero img{
    height: 450px;
    width: 450px;
    object-fit: cover;
  }
  .home .carousel .card{
    background: white;
    padding: 50px 85px;
    text-align: center;
  }
  
  .home .carousel .card .box{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }
  .owl-dots{
    text-align: left;
    position: relative;
    bottom: 35px;
    width: 200px;
    margin-left: 20px;
  }
  .owl-dot{
background:#029dd1!important;
height: 13px;
width: 13px;
margin: 0 5px;
border-radius:50%;
border: 2px solid #029dd1!important;
transition: all 0.3s ease;
  }
  .owl-dot.active{
    width: 35px;
    border-radius: 14px;
    height: 8px;
  }
  .owl-dot.active:hover{
    background: #029dd1;
  }
  .home .next-btn a{
    display: inline-block;
    text-align: center;
    background:#029dd1;
    color: #fff;
    position: relative;
    left: 50%;
    top:70px;
    z-index:100;
    font-size: 12px;
    padding: 12px 20px;
    border-radius: 4px;
    margin-top: 15px;
    height: 35px;
    border: 1.5px solid #029dd1;
    transition: all 0.3s ease;
    font-family: Arial;
  }
  .next-btn.active{
    background-color: #029dd1;
  }
  @media (max-width: 580px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing:content-box;
      text-decoration: none;
    }
    .navbar .menu .oth li a {
      display: flex;
      flex-direction: column;
      position: relative;
      bottom: 20px;
      left: 300px;
      font-weight: 700;
      transition: color 0.3s ease;
      font-family: 'Rubik', sans-serif;
    }
    .navbar .menu .oth li a i{
      color: black;
      display: flex;
      font-size: 15px;
      margin: 3px;
      font-weight: 800;
      justify-content: space-between;
    }
    .home .carousel .card .logo a{
      position: relative;
      right: 58px;
      bottom: 10px;
      font-size: 25px;
      color: black;
      font-family: arial;
      font-weight: 600;
    }
    .home .carousel .card .logo a span{
      position: relative;
      left: 120px;
      bottom: 5px;
      color: #029dd1;
      font-size: 20px;
      font-weight: 200;
    }
    .home .carousel .card .logo img{
      width: 45px;
      position: relative;
      right: 110px;
      top: 20px;
    }
    
    .home .carousel .card .under{
      position: relative;
      top: 50px;
    }
    .home .carousel .card .under h2{
  text-align: center;
  font-size: 20px;
  width:400px;
  color: black;
  font-family: arial;
    }
    .home .carousel .card .under p{
      font-size: 11px;
      white-space: wrap;
      position: relative;
      top: 15px;
      width:400px;
      font-family: arial;
    }
    .home .carousel .card .hero img{
      height: 400px;
      width: 400px;
      position: relative;
      object-fit: cover;
    }
    .home .carousel .card{
      background: white;
      padding: 50px 85px;
      text-align: center;
    }
    
    .home .carousel .card .box{
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
    }
    .owl-dots{
      text-align: left;
      position: relative;
      bottom: 15px;
      width: 200px;
      margin-left: 20px;
    }
    .owl-dot{
  background:#029dd1!important;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  border-radius:50%;
  border: 2px solid #029dd1!important;
  transition: all 0.3s ease;
    }
    .owl-dot.active{
      width: 35px;
      border-radius: 14px;
      height: 8px;
    }
    .owl-dot.active:hover{
      background: #029dd1;
    }
    .home .next-btn a{
      display: inline-block;
      text-align: center;
      background:#029dd1;
      color: #fff;
      position: relative;
      left: 50%;
      top:70px;
      z-index:100;
      font-size: 12px;
      padding: 10px 20px;
      border-radius: 7px;
      margin-top: 15px;
      height: 20px;
      border: 1.5px solid #029dd1;
      transition: all 0.3s ease;
      font-family: Arial;
    }
    .next-btn.active{
      background-color: #029dd1;
    }
  }