body {
    background: white;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  .max-width {
max-width: 1340px;
padding:0;
margin: 0;
  }
  section {
    padding: 20px 0;
  }
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    transition: all 0.5s ease;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: space-between;
  }
  .navbar.sticky {
    padding: 30px 0;
    background:black;
  }
  .navbar .logo a {
    position: relative;
    left:80px ;
    font-size: 30px;
    font-weight: 600;
    color: black;
    transition: color 0.5s ease;
    font-family: 'Rubik', sans-serif;
  }
  
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .menu li {
    position: relative;
    right: 5px;
    list-style: none;
    display: inline-block;
  }
  .navbar .menu .date li a {
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
    padding-left: 20px;
    transition: color 0.3s ease;
    font-family: 'Rubik', sans-serif;
  }
  .navbar .menu .date li a i{
    color: black;
  position: relative;
  right:38px;
  top: 3px;
  font-size: 18px;
  }
  .navbar .menu .oth li a {
    display: flex;
    flex-direction: column;
    position: relative;
    left:1000px;
    bottom: 20px;
    font-weight: 700;
    transition: color 0.3s ease;
    font-family: 'Rubik', sans-serif;
  }
  .navbar .menu .oth li a i{
    color: black;
    display: flex;
    font-size: 15px;
    margin: 3px;
    font-weight: 800;
    justify-content: space-between;
  }

  .navbar .menu li a:hover,
  .navbar .logo a:hover {
    color:#029dd1;
  }
  .menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
  }
  .home {
    background-image:url('Rectangle\ 224.png');
    background-size: cover;
    height:50vh;
    /*position: relative;*/
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-attachment: fixed;
    min-height: 500px;
    font-family: 'Rubik', sans-serif;
  }
.frame img{
    background-size: cover;
    height:50vh;
    position: relative;
    bottom: 60px;
    /*position: relative;*/
    width:1000px;
    object-fit: cover;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-attachment: fixed;
    min-height: 500px;
  }
  .middle{
    text-align: center;
    align-items: center;
  }
 .middle img{
    width: 20%;
    position: relative;
    left:15px;
    bottom: 150px;
  }
  .middle h3{
    font-size: 28px;
    position: relative;
    text-align: center;
    bottom:145px;
  }
  .middle h5{
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    bottom:90px;
  }
  .middle a{
    display: inline-block;
    text-align: center;
    background:#029dd1;
    color: #fff;
    position: relative;
    top:0%;
    width: 50%;
    z-index:100;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    margin-top: 15px;
    height: 38px;
    border: 1.5px solid #029dd1;
    transition: all 0.3s ease;
    font-family: Arial;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }
  .alt{
    align-items: center;
    text-align: center;
    position: relative;
    top:40px;
    color: #029dd1;
  }
  .alt a{
    color: #029dd1;
  }
  .alt a:hover{
  text-decoration: underline blue 2px;
  }
  .home .max-width {
    margin: auto;
  }
  .home .home-content {
    text-align:left;
    justify-content: center;
    display:block;
    width: 1000px;
    height: auto;
    margin:50px auto;
    font-family: 'Rubik', sans-serif;
  }