@media (max-width: 580px) {

    body {
      background: #ffffff;
    }
    * {
      margin: 0;
      padding: 0;
      text-decoration: none;
    }
    .max-width {
  max-width:100%;
  padding:0;
  margin: 0;
    }
    section {
      padding: 20px 0;
    }
    .navbar {
      position: fixed;
      width: 100%;
      z-index: 999;
      padding: 15px 0;
      transition: all 0.5s ease;
      font-family: 'Rubik', sans-serif;
      display: flex;
      justify-content: space-between;
    }
    .navbar.sticky {
      padding: 30px 0;
      background:black;
    }
    .navbar .logo a {
      position: relative;
      left:60px ;
      font-size: 30px;
      font-weight: 600;
      color: black;
      transition: color 0.5s ease;
      font-family: 'Rubik', sans-serif;
    }
    
    .navbar .max-width {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .navbar .menu li {
      position: relative;
      right: 5px;
      list-style: none;
      display: inline-block;
    }
    .navbar .menu .date li a {
      color: black;
      position: relative;
    left:36px;
      font-size: 15px;
      font-weight: 600;
      margin-right: 25px;
      padding-left: 20px;
      transition: color 0.3s ease;
      font-family: 'Rubik', sans-serif;
    }
    .navbar .menu .date li a i{
      color: black;
    position: relative;
    right:38px;
    top: 3px;
    font-size: 18px;
    }
    .navbar .menu .oth li a {
      display: flex;
      flex-direction: column;
      position: relative;
      left:320px;
      bottom: 20px;
      font-weight: 700;
      transition: color 0.3s ease;
      font-family: 'Rubik', sans-serif;
    }
    .navbar .menu .oth li a i{
      color: black;
      display: flex;
      font-size: 15px;
      margin: 3px;
      font-weight: 800;
      justify-content: space-between;
    }
    .navbar .menu li a:hover,
    .navbar .logo a:hover {
      color:#029dd1;
    }
    .menu-btn {
      color: #fff;
      font-size: 23px;
      cursor: pointer;
      display: none;
    }
    .home .home-content .logo img{
      position: relative;
      top: 30px;
      left: 20px;
    }
    .home .home-content .logo a{
      font-size: 18px;
      color: #000;
      font-family: arial;
      position: relative;
      top: 20px;
      left: 25px;
      font-weight: 600;
    }
    .home .home-content .logo span{
      position: relative;
      left: 180px;
    }
    .home .home-content .logo span a i{
      margin-inline:3px;
      color: #000;
    }
    .res{
        position: relative;
        top: 40px;
        margin-left: 20px;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 15px;
    }
    .nutrition {  display: grid;
       grid-template-columns: 0.5fr 0.5fr;
         grid-template-rows: 1fr 1fr;
         gap: 4px 4px;
         grid-template-areas:
          ". ."
          ". ."
          ". .";
          position: relative;
          top: 150px;
          height: 100%;
      }
      .nut{
       margin-left: 20px;
      }
      .nut1{
        position: relative;
        bottom: 75px;
      }
      .nut h5{
        font-size: 17px;
        color: black;
        line-height: 1.4em;
        font-family: 'Roboto', sans-serif;
      }
      .nut h5 p{
        font-size: 16px;
        color: black;
        font-weight: 200;
        font-family: 'Roboto', sans-serif;
      }
      .nut1 d{
        font-size: 15px;
        color: black;
        font-weight: 200;
        color: #029dd1;
        font-family: 'Roboto', sans-serif;
      }
      .nut2 d{
        font-size: 15px;
        color: black;
        font-weight: 200;
        color: red;
        font-family: 'Roboto', sans-serif;
      }
      .nut3 d{
        font-size: 15px;
        color: black;
        font-weight: 200;
        color: red;
        font-family: 'Roboto', sans-serif;
      }
      .nut4 d{
        font-size: 15px;
        color: black;
        font-weight: 200;
        color: #029dd1;
        font-family: 'Roboto', sans-serif;
      }
      .nut5 d{
        font-size: 15px;
        color: black;
        font-weight: 200;
        color: red;
        font-family: 'Roboto', sans-serif;
      }
      .nut6 d{
        font-size: 15px;
        color: black;
        font-weight: 200;
        color: #029dd1;
        font-family: 'Roboto', sans-serif;
      }
      .nut1 img{
    width: 85%;
      }
      .nut3{
        position: relative;
        bottom: 30px;
      }
      .nut5{
        position: relative;
        top: 10px;
      }
      .nut6, .nut4{
        position: relative;
        top: 80px;
      }
      .nut6{
        position: relative;
        top: 100px;
      }
      .icon-content .jaden{
        position: relative;
        top: 30px;
        display: flex;
        float: left;
        margin-inline: 10px;
        height: 50px;
        width: 20%;
       } 
       .icon-content{
        border: 1px solid rgb(150, 146, 146);
        height: 70px;
        position: relative;
        margin-top: 320px;
        background:white;
        border-bottom: none;
       }
      .icon-content .jaden a i{
        font-size: 30px;
        position:relative;
        left: 25px;
        bottom: 15px;
        margin-inline: 5px;
        color: black;
    
       }
       .icon-content .jaden p{
        position: relative;
        top: 25px;
        text-align: center;
        right: 10px;
        font-size: 10px;
       }
       .icon .icon-content .jaden a i:hover{
        color: #029dd1;
       }
       .icon .icon-content .jaden p:hover{
        color: #029dd1;
       }
}