@media (max-width: 480px) {
    body {
        background: whitesmoke;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
      }
      .max-width {
    max-width: 1340px;
    padding:0;
    margin: 0;
    
      }
      section {
        padding: 20px 0;
      }
      .navbar {
        position: fixed;
        width: 100%;
        z-index: 999;
        padding: 15px 0;
        transition: all 0.5s ease;
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: space-between;
      }
      .navbar.sticky {
        padding: 30px 0;
        background:black;
      }
      .navbar .logo a {
        position: relative;
        left:80px ;
        font-size: 30px;
        font-weight: 600;
        color: black;
        transition: color 0.5s ease;
        font-family: 'Roboto', sans-serif;
      }
      
      .navbar .max-width {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .navbar .menu li {
        position: relative;
        right: 5px;
        list-style: none;
        display: inline-block;
      }
      .navbar .menu .date li a {
        color: white;
        font-size: 15px;
        font-weight: 600;
        margin-right: 25px;
        padding-left: 20px;
        transition: color 0.3s ease;
        font-family: 'Roboto', sans-serif;
      }
      .navbar .menu .date li a i{
        color:white;
      position: relative;
      right:38px;
      top: 3px;
      font-size: 18px;
      }
      .navbar .menu .oth li a {
        display: flex;
        flex-direction: column;
        position: relative;
        left:320px;
        bottom: 20px;
        font-weight: 700;
        transition: color 0.3s ease;
        font-family: 'Roboto', sans-serif;
      }
      .navbar .menu .oth li a i{
        color:white;
        display: flex;
        font-size: 15px;
        margin: 3px;
        font-weight: 800;
        justify-content: space-between;
      }
    
      .navbar .menu li a:hover,
      .navbar .logo a:hover {
        color:#029dd1;
      }
      .menu-btn {
        color: #fff;
        font-size: 23px;
        cursor: pointer;
        display: none;
      }
      .maker img{
        position: fixed;
        object-fit: cover;
        width: 100%;
      }
      .maker .music img{
        width: 43%;
        position: relative;
        left: 120px;
        top: 130px;
      }
      .circle{
        position: relative;
       top: 140px; 
       text-align: center;
       width: 100%;
      }
      .circle h4{
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
      }
      .circle p{
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        line-height: 1.3em;
        position: relative;
        top: 10px;
        color: grey;
      }
      .post{
        position: relative;
        top: 200px;
        margin-left: 20px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
      }
      .personal{
        position: relative;
        top: 230px;
      }
      .personal .box{
        padding: 20px 33px;
        width: 90%;
        margin-left: 15px;
        background: white;
        border-radius: 15px;
      }
      .personal .box span a i{
        position: relative;
        left: 40%;
        font-size: 14px;
        color: black;
      }
      .personal .box span1 a i{
        position: relative;
        left: 52%;
        font-size: 14px;
        color: black;
      }
      .personal .box p{
        font-size: 17px;
        text-align:left;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
      }


      .pest{
        position: relative;
        top: 250px;
        margin-left: 20px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
      }
      .porsonal{
        position: relative;
        top: 280px;
      }
      .porsonal .bex{
        padding: 20px 33px;
        width: 90%;
        margin-left: 15px;
        background: white;
        border-radius: 15px;
      }
      .porsonal .bex span a i{
        position: relative;
        left: 44%;
        font-size: 14px;
        color: black;
      }
      .porsonal .bex span2 a i{
        position: relative;
        left: 52%;
        font-size: 14px;
        color: black;
      }
      .porsonal .bex p{
        font-size: 17px;
        text-align:left;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
      }
      .porsonal .bex p img{
        position: relative;
        left: 60%;
        top: 4px;
      }
      .icon-content .jaden{
        position: relative;
        top: 30px;
        display: flex;
        float: left;
        margin-inline: 10px;
        height: 50px;
        width: 20%;
       } 
       .icon-content{
        border: 1px solid rgb(112, 110, 110);
        height: 0px;
        top:280px;
        position: relative;
        background:white;
        border-bottom: none;
       }
      .icon-content .jaden a i{
        font-size: 30px;
        position:relative;
        left: 25px;
        bottom: 15px;
        margin-inline: 5px;
        color: black;
    
       }
       .icon-content .jaden p{
        position: relative;
        top: 25px;
        text-align: center;
        right: 10px;
        font-size: 10px;
       }
       .icon .icon-content .jaden a i:hover{
        color: #029dd1;
       }
       .icon .icon-content .jaden p:hover{
        color: #029dd1;
       }
      
    }