body {
    background: white;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  .max-width {
max-width: 1340px;
padding:0;
margin: 0;

  }
 
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    transition: all 0.5s ease;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: space-between;
  }
  .navbar.sticky {
    padding: 30px 0;
    background:black;
  }
  .navbar .logo a {
    position: relative;
    left:80px ;
    font-size: 30px;
    font-weight: 600;
    color: black;
    transition: color 0.5s ease;
    font-family: 'Rubik', sans-serif;
  }
  
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .menu li {
    position: relative;
    right: 5px;
    list-style: none;
    display: inline-block;
  }
  .navbar .menu .date li a {
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
    padding-left: 20px;
    transition: color 0.3s ease;
    font-family: 'Rubik', sans-serif;
  }
  .navbar .menu .date li a i{
    color: black;
  position: relative;
  right:38px;
  top: 3px;
  font-size: 18px;
  }
  .navbar .menu .oth li a {
    display: flex;
    flex-direction: column;
    position: relative;
    left:320px;
    bottom: 20px;
    font-weight: 700;
    transition: color 0.3s ease;
    font-family: 'Rubik', sans-serif;
  }
  .navbar .menu .oth li a i{
    color: black;
    display: flex;
    font-size: 15px;
    margin: 3px;
    font-weight: 800;
    justify-content: space-between;
  }

  .navbar .menu li a:hover,
  .navbar .logo a:hover {
    color:#029dd1;
  }
  .menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
  }
  .home .home-content .ezi{
    position: relative;
    text-align: center;
    top:50px;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
  }
  .home .home-content .iconss{
    position: relative;
    top: 30px;
    color: black;
  }
  .home .home-content .iconss a{
    position: relative;
    margin-left: 20px;
    color: black;
    cursor: pointer;
      }
      .home .home-content .iconss  i{
        font-size: 18px;
        font-weight: 700;
      }
      .home .home-content .lover img{
      
        position: relative;
        left: 140px;
        top: 70px;
       
      }
      .voice{
        position: relative;
        top: 48px;
        text-align: center;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
      }
      .top{
        position: relative;
        top: 150px;
        margin-left: 25px;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 600; 
       }
       .searches{
         position: relative;
         top: 180px;
         display: flex;
         margin-left: 25px;
         gap: 25px;
       }
       .searches2{
         position: relative;
         top: 210px;
         display: flex;
         margin-left: 25px;
         gap: 25px;
       }