@media (max-width: 480px) {
    body {
        background: white;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
      }
      .max-width {
    max-width: 1340px;
    padding:0;
    margin: 0;
    
      }
     
      .navbar {
        position: fixed;
        width: 100%;
        z-index: 999;
        padding: 15px 0;
        transition: all 0.5s ease;
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: space-between;
      }
      .navbar.sticky {
        padding: 30px 0;
        background:black;
      }
      .navbar .logo a {
        position: relative;
        left:80px ;
        font-size: 30px;
        font-weight: 600;
        color: black;
        transition: color 0.5s ease;
        font-family: 'Rubik', sans-serif;
      }
      
      .navbar .max-width {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .navbar .menu li {
        position: relative;
        right: 5px;
        list-style: none;
        display: inline-block;
      }
      .navbar .menu .date li a {
        color: black;
        font-size: 15px;
        font-weight: 600;
        margin-right: 25px;
        padding-left: 20px;
        transition: color 0.3s ease;
        font-family: 'Rubik', sans-serif;
      }
      .navbar .menu .date li a i{
        color: black;
      position: relative;
      right:38px;
      top: 3px;
      font-size: 18px;
      }
      .navbar .menu .oth li a {
        display: flex;
        flex-direction: column;
        position: relative;
        left:320px;
        bottom: 20px;
        font-weight: 700;
        transition: color 0.3s ease;
        font-family: 'Rubik', sans-serif;
      }
      .navbar .menu .oth li a i{
        color: black;
        display: flex;
        font-size: 15px;
        margin: 3px;
        font-weight: 800;
        justify-content: space-between;
      }
    
      .navbar .menu li a:hover,
      .navbar .logo a:hover {
        color:#029dd1;
      }
      .menu-btn {
        color: #fff;
        font-size: 23px;
        cursor: pointer;
        display: none;
      }
      .home .home-content .ezi{
        position: relative;
        text-align: center;
        top:50px;
        font-size: 16px;
        font-weight: 700;
      }
      .home .home-content .iconss{
        position: relative;
        top: 30px;
        color: black;
      }
      .home .home-content .iconss a{
        position: relative;
        margin-left: 20px;
        color: black;
        cursor: pointer;
          }
          .home .home-content .iconss  i{
            font-size: 18px;
            font-weight: 700;
          }
          .home .home-content .fantasma img{
            width: 100%;
            position: fixed;
            height: 60%;
            top: 0;
            z-index: -10;
          } 
.home .home-content .lover img{
  width: 50%;
  position: relative;
  left: 100px;
  top: 70px;
  z-index: -100;
}
.fantasma p{ 
  position: relative;
  text-align: center;
  margin-top: 15px;
  font-weight: 700;
  top:60px;
  font-size:20px;
  font-family: 'Roboto', sans-serif;
}
.fantasma p span{
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight:400;
  position: relative;
  text-align: center;
}
.fantasma d{
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight:400;
  font-weight:600;
  top: 80px;
  left: 10px;
  position: relative;
  text-align: center;
}
.next{
    width: 100%;
    border: 2px solid transparent;
    margin-top: 100px;
    border-radius: 15px;
    background: white;
    padding-bottom: 50px;
}
.next .box{
    text-align: center;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}
.next .box img{
    width:25%;
    position: relative;
    top: 20px;
}
.next .box p{
    width:100%;
    line-height: 1.4em;
    position: relative;
    top: 35px;
}
.alt a{
    display: inline-block;
    text-align:center;
    background:#029dd1;
    color: #fff;
    position: relative;
    width: 90%;
    left: 17px;
    top: 40px;
    z-index:100;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 10px;
    margin-top: 15px;
    height: 50px;
    border: 1.5px solid #029dd1;
    transition: all 0.3s ease;
    font-family: Arial;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }
}