body {
    background: #ffffff;

  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  .max-width {
max-width:100%;
padding:0;
margin: 0;
  }
  section {
    padding: 20px 0;
  }
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    transition: all 0.5s ease;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: space-between;
  }
  .navbar.sticky {
    padding: 30px 0;
    background:black;
  }
  .navbar .logo a {
    position: relative;
    left:60px ;
    font-size: 30px;
    font-weight: 600;
    color: black;
    transition: color 0.5s ease;
    font-family: 'Rubik', sans-serif;
  }
  
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .menu li {
    position: relative;
    right: 5px;
    list-style: none;
    display: inline-block;
  }
  .navbar .menu .date li a {
    color: black;
    position: relative;
  left:268px;
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
    padding-left: 20px;
    transition: color 0.3s ease;
    font-family: 'Rubik', sans-serif;
  }
  .navbar .menu .date li a i{
    color: black;
  position: relative;
  right:38px;
  top: 3px;
  font-size: 18px;
  }
  .navbar .menu .oth li a {
    display: flex;
    flex-direction: column;
    position: relative;
    left:620px;
    bottom: 20px;
    font-weight: 700;
    transition: color 0.3s ease;
    font-family: 'Rubik', sans-serif;
  }
  .navbar .menu .oth li a i{
    color: black;
    display: flex;
    font-size: 15px;
    margin: 3px;
    font-weight: 800;
    justify-content: space-between;
  }

  .navbar .menu li a:hover,
  .navbar .logo a:hover {
    color:#029dd1;
  }
  .menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
  }
  .home .home-content{
    width: 900px;
  }
  .home .home-content .logo a{
    position: relative;
    font-size: 20px;
    color: black;
    top: 20px;
    left: 280px;
    font-family: arial;
    font-weight: 600;
  }
  .home .home-content .logo a span{
    position: relative;
    color: black;
    left: 100px;
    font-size: 18px;
    font-weight: 200;
    margin: 4px;
  }
  .home .home-content .logo img{
    width: 50px;
    position: relative;
    top: 30px;
    left:280px;
  }
  .home .home-content p{
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    top: 50px;
    left:30%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
  }
  .home .home-content .fitz{
text-align: center;
    position: relative;
    top: 100px;
    left: 50px;
  }
  @media (max-width: 580px) {
    .navbar .menu .oth li a {
      display: flex;
      flex-direction: column;
      position: relative;
      bottom: 20px;
      left: 300px;
      font-weight: 700;
      transition: color 0.3s ease;
      font-family: 'Rubik', sans-serif;
    }
    .navbar .menu .oth li a i{
      color: black;
      display: flex;
      font-size: 15px;
      margin: 3px;
      font-weight: 800;
      justify-content: space-between;
    }
  }