
  @media (max-width: 580px) {

    body {
      background: #ffffff;
    }
    * {
      margin: 0;
      padding: 0;
      text-decoration: none;
    }
    .max-width {
  max-width:100%;
  padding:0;
  margin: 0;
    }
    section {
      padding: 20px 0;
    }
    .navbar {
      position: fixed;
      width: 100%;
      z-index: 999;
      padding: 15px 0;
      transition: all 0.5s ease;
      font-family: 'Rubik', sans-serif;
      display: flex;
      justify-content: space-between;
    }
    .navbar.sticky {
      padding: 30px 0;
      background:black;
    }
    .navbar .logo a {
      position: relative;
      left:60px ;
      font-size: 30px;
      font-weight: 600;
      color: black;
      transition: color 0.5s ease;
      font-family: 'Rubik', sans-serif;
    }
    
    .navbar .max-width {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .navbar .menu li {
      position: relative;
      right: 5px;
      list-style: none;
      display: inline-block;
    }
    .navbar .menu .date li a {
      color: black;
      position: relative;
    left:36px;
      font-size: 15px;
      font-weight: 600;
      margin-right: 25px;
      padding-left: 20px;
      transition: color 0.3s ease;
      font-family: 'Rubik', sans-serif;
    }
    .navbar .menu .date li a i{
      color: black;
    position: relative;
    right:38px;
    top: 3px;
    font-size: 18px;
    }
    .navbar .menu .oth li a {
      display: flex;
      flex-direction: column;
      position: relative;
      left:320px;
      bottom: 20px;
      font-weight: 700;
      transition: color 0.3s ease;
      font-family: 'Rubik', sans-serif;
    }
    .navbar .menu .oth li a i{
      color: black;
      display: flex;
      font-size: 15px;
      margin: 3px;
      font-weight: 800;
      justify-content: space-between;
    }
    .navbar .menu li a:hover,
    .navbar .logo a:hover {
      color:#029dd1;
    }
    .menu-btn {
      color: #fff;
      font-size: 23px;
      cursor: pointer;
      display: none;
    }
    .home .home-content .logo img{
      width: 15%;
      position: relative;
      top: 30px;
    }
    .home .home-content .logo a{
      font-size: 20px;
      color: #000;
      font-family: arial;
      position: relative;
      top: 20px;
      font-weight: 600;
    }
    .home .home-content .logo span{
      position: relative;
      left: 180px;
    }
    .home .home-content .logo span a i{
      margin-inline:3px;
      color: #000;
    }
    .home .home-content  p{
      position: relative;
      top: 50px;
      font-size: 18px;
      margin-left: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 550;
    }
   .home .home-content .fitz img{
     position: relative;
     left: 15px;
     top: 100px;
    }
    .home .home-content .fitz{
      text-align: center;
    }
    .home .home-content .fitz .pol{
      position: relative;
      top: 100px;
      font-size: 18px;
      font-weight: 700;
    }
    .home .home-content .fitz .pel{
      position: relative;
      top: 100px;
      font-size: 15px;
      font-weight: 600;
    }
    .best .best-content .text{
      position: relative;
      top: 100px;
      font-size: 18px;
      font-family: arial;
      font-weight: 550;
    }
    .best .best-content .books{
      position: relative;
      top: 130px;
      display: flex;
      width: 100%;
      text-align: center;
    }
    .best .best-content .books img{
      width: 100%;
      margin-inline:8px;
      height: 70%;
    }
    .best .best-content .books .list{
      margin:5px ;
    }
    .best .best-content .books .will h{
    font-size: 13px;
    font-weight: 550;
    }
    .best .best-content .books .will p{
      font-size: 10px;
      font-weight: 550;
      }
      .bost .bost-content .text{
        position: relative;
        top: 70px;
        font-size: 18px;
        font-family: arial;
        font-weight: 550;
      }
      .bost .bost-content .beeks{
        position: relative;
        top: 100px;
        display: flex;
        width: 100%;
        text-align: center;
      }
      .bost .bost-content .beeks .lost{
        z-index:-1;
  margin:5px ;
      }
      .bost .bost-content .beeks img{
        width: 100%;
        margin-inline:8px;
        height: 80%;
      }
     .icon .icon-content .jaden{
      position: relative;
      top: 30px;
      display: flex;
      float: left;
      margin-inline: 10px;
      height: 50px;
      width: 20%;
     } 
     .icon .icon-content{
      border: 1px solid black;
      height: 70px;
      top: 40px;
      background:white;
      border-bottom: none;
     }
     .icon .icon-content .jaden i{
      font-size: 30px;
      position:relative;
      left: 25px;
      bottom: 15px;
      margin-inline: 5px;

     }
     .icon .icon-content .jaden p{
      position: relative;
      top: 25px;
      text-align: center;
      right: 10px;
      font-size: 10px;
     }
     .icon .icon-content .jaden i:hover{
      color: #029dd1;
     }
  }