@media (max-width: 580px) {
    body {
        background: white;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
      }
      .max-width {
    max-width: 1340px;
    padding:0;
    margin: 0;
    
      }
      .navbar {
        position: fixed;
        width: 100%;
        z-index: 999;
        padding: 15px 0;
        transition: all 0.5s ease;
        font-family: 'Rubik', sans-serif;
        display: flex;
        justify-content: space-between;
      }
      .navbar.sticky {
        padding: 30px 0;
        background:black;
      }
      .navbar .logo a {
        position: relative;
        left:80px ;
        font-size: 30px;
        font-weight: 600;
        color: black;
        transition: color 0.5s ease;
        font-family: 'Rubik', sans-serif;
      }
      
      .navbar .max-width {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .navbar .menu li {
        position: relative;
        right: 5px;
        list-style: none;
        display: inline-block;
      }
      .navbar .menu .date li a {
        color: black;
        font-size: 15px;
        font-weight: 600;
        margin-right: 25px;
        padding-left: 20px;
        transition: color 0.3s ease;
        font-family: 'Rubik', sans-serif;
      }
      .navbar .menu .date li a i{
        color: black;
      position: relative;
      right:38px;
      top: 3px;
      font-size: 18px;
      }
      .navbar .menu .oth li a {
        display: flex;
        flex-direction: column;
        position: relative;
        left:320px;
        bottom: 20px;
        font-weight: 700;
        transition: color 0.3s ease;
        font-family: 'Rubik', sans-serif;
      }
      .navbar .menu .oth li a i{
        color: black;
        display: flex;
        font-size: 15px;
        margin: 3px;
        font-weight: 800;
        justify-content: space-between;
      }
    
      .navbar .menu li a:hover,
      .navbar .logo a:hover {
        color:#029dd1;
      }
      .menu-btn {
        color: #fff;
        font-size: 23px;
        cursor: pointer;
        display: none;
      }
      .home .home-content .ezi{
        position: relative;
        text-align: center;
        top:50px;
        font-size: 16px;
        font-weight: 700;
      }
      .home .home-content .iconss{
        position: relative;
        top: 30px;
        color: black;
      }
      .home .home-content .iconss a{
        position: relative;
        margin-left: 20px;
        color: black;
        cursor: pointer;
          }
          .home .home-content .iconss  i{
            font-size: 18px;
            font-weight: 700;
          }
      .dome .dome-content{
        width: 100%;
      }
      .dome .dome-content .fantasma img{
        width: 100%;
        position: relative;
        object-fit: cover;
      }
      .dome .dome-content .lover img{
        position: relative;
        left: 100px;
        bottom: 350px;
        width: 200px;
      }
      .dome .dome-content .lover .pol{
        position: relative;
        bottom: 320px;
        text-align: center;
        margin-top: 15px;
        font-weight: 600;
        font-size: 18px;
        font-family: arial;
      }
      .dome .dome-content .lover .pel{
        margin-top: 8px;
        font-family: arial;
        font-size: 16px;
        font-weight:400;
        position: relative;
        bottom: 320px;
        text-align: center;
      }
     
      .dome .dome-content .box p{
        font-family: Arial;
        margin-top: 5px;
        font-size: 20px;
        font-weight: 700;
        color: black;
        position: relative;
        bottom:260px;
        z-index: 100;
      }
      .home .home-content .layer {
        width: 100%;
        height: 77%;
        background: linear-gradient(rgba(0, 3, 4, 0.4), #abb3b6);
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        z-index: 100;
      }
      .proceed{
        position: relative;
        bottom: 110px;
        z-index:-100;
      }
      .proceed .proceed-content{
        align-items: center;
        text-align: center;
        z-index:999;
        
      }
      .proceed .proceed-content .tube{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        height: 300px;
        position: relative;
       justify-content: center;
       bottom: 100px;
       border: 5px solid white;
       border-bottom: none;
       border-left: none;
       border-right: none;
       padding-bottom: 450px;
       z-index:-1;
      /*
      
      background-color: transparent;
      
      
      p
      */
      }
      .proceed .proceed-content .tube img{
        align-items: center;
       width: 30%;
       margin-top: 40px;
       
      }
      .proceed .proceed-content .tube .note{
        width: 100%;
        font-size: 19px;
      margin-top: 30px;
      }
      .tube a{
      display: inline-block;
      text-align: center;
      background:#029dd1;
      color: #fff;
      position: relative;
      width: 90%;
      top: 80px;
      z-index:100;
      font-size: 22px;
      padding: 12px 20px;
      border-radius: 4px;
      margin-top: 15px;
      height: 58px;
      border: 1.5px solid #029dd1;
      transition: all 0.3s ease;
      font-family: Arial;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    }
    }
  